@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
 }

.contents {
  font-size: 16px;
  width: 225px;
  box-sizing: border-box;
  margin-right: 50px;
  float: left;
}
.contents:last-child {
  margin-right: 0;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  padding-right: 50px;
}
.table-cell:last-child {
  padding-right: 0;
}

.font {
  font-size: 0;
}
.inline {
  float: none;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.contents_flex {
  margin: 0;
}
.flex {
  margin-right: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.container {
  font-size: 0;
  width: 100%;
  box-sizing: border-box;
}
.box_left {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  vertical-align: top;
  font-size: 16px;
}
.box_right {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  font-size: 16px;
}
/* 回答はここに書いてね */
