@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  margin: 0 auto;
  background-color:#ecf1f2;
  padding: 20px;
}
.contents {
  display: table;
  width: 100%;
}
.contents:last-child {
  padding-top: 20px;
}
.element {
  display: table-cell;
  padding : 20px;
  text-align: center;
}
.fixed_left {
  background-color: #fdc8b8;
  width: 100px;
}
.flex_center {
  background-color:#e0abd9;
 }
 .fixed_right {
   background-color: #b6d8ed;
   width: 100px;
 }

 .flex_left {
   background-color: #e5d32e;
 }
 .flex_center_bottom {
   background-color: #ec869a;
 }
 .fixed_right_bottom {
   background-color: #8fdcad;
   width:500px;
 }
/* 回答はここに書いてね */
