@charset "UTF-8";

/* 回答はここに書いてね */
.box {
  width:100%;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.box th {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px; 
}
.box th,td {
  width: 16.66%;
  border: 1px solid #dedede;
  padding: 10px 0;
}
.box>tbody>tr:last-child {
  border-top: 2px dashed #000; 
}
.box>tbody>tr:nth-child(even) {
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */
