@charset "UTF-8";

/* 回答はここに書いてね */
.box_inner {
  text-align: center;
}
.text-align {
  display: inline-block;
  padding: 10px 0;
  width: 90px;
  background-color: #E6F2FF;
}

.margin {
  width: 90px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.container {
  display: table;
}
.outline {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.table {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
}

.container_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  background-color: #fff;
  padding: 10px;
}

.container_position {
  position: relative;
}

.position {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.container_transform {
  position: relative;
}
.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */
